.main-div{
     width: 416px;
     height: 124px;
     background-color: rgb(68, 160, 160);
     border-radius: 6px;

}

.btn{
    display: flex;
    float: left;
}

.btn button{
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
    color: aliceblue;
    background-color: slategrey;
  


}

.label {
    color: rgb(231, 236, 241);
    background-color: slategray;
    padding: 10px;
border-radius: 10px; 
margin: 10px;


}

::placeholder{
    color: whitesmoke
}
